/* buttons */
.btn-container {
  justify-content: space-between;
}
.btn {
  gap: 1rem;
  align-items: center;
}

.vote-btn {
  border: transparent;
  padding-block: 0.5rem;
  cursor: pointer;
  border-radius: 7px;
}
.vote-value {
  color: hsl(var(--moderate-blue));
  font-weight: 700;
  font-size: 1.1rem;
}
.upvote-icon,
.downvote-icon {
  padding: 0.5rem;
}
