/* buttons */
.btn-container {
  justify-content: space-between;
}
.btn {
  gap: 1rem;
  align-items: center;
  cursor: pointer;
}

.vote-btn {
  border: transparent;
  padding-block: 0.5rem;
  cursor: pointer;
  border-radius: 7px;
}
.vote-value {
  color: hsl(var(--moderate-blue));
  font-weight: 700;
  font-size: 1.1rem;
}
.upvote-icon,
.downvote-icon {
  padding: 0.5rem;
}
.delete-btn,
.edit-btn {
  background: transparent;
  border: transparent;
  padding: 0.5rem 1.2rem;
  font-weight: 500;
  font-size: 1.2rem;
  border-radius: 7px;
  color: hsl(var(--soft-red));
  text-transform: capitalize;
}
.edit-btn {
  color: hsl(var(--moderate-blue));
}
/* reply button */
.reply-btn {
  border: transparent;
  background: transparent;
  cursor: pointer;
  --gap: 0.2rem;
}
