/* buttons */
.btn-container {
  justify-content: space-between;
}
.btn {
  gap: 1rem;
  align-items: center;
  cursor: pointer;
}

.vote-btn {
  border: transparent;
  padding-block: 0.5rem;
  border-radius: 7px;
}
.vote-value {
  color: hsl(var(--moderate-blue));
  font-weight: 700;
  font-size: 1.1rem;
  cursor: default;
}
.upvote-icon,
.downvote-icon {
  padding: 0.5rem;
  cursor: pointer;
}
.delete-btn,
.edit-btn {
  background: transparent;
  border: transparent;
  padding: 0.5rem 1.2rem;
  font-weight: 500;
  font-size: 1.2rem;
  border-radius: 7px;
  color: hsl(var(--soft-red));
  text-transform: capitalize;
  transition: var(--transition);
}
.edit-btn {
  color: hsl(var(--moderate-blue));
}
/* reply button */
.reply-btn {
  border: transparent;
  background: transparent;
  cursor: pointer;
  --gap: 0.2rem;
  padding: 0.5rem 1.2rem;
  border-radius: 7px;
}
.reply-button-text {
  color: hsl(var(--moderate-blue));
  font-weight: 600;
}
/* utility class */
.padding-x-small {
  padding-inline-start: 0.5rem;
}

.reply-btn:hover,
.edit-btn:hover {
  background-color: hsl(var(--moderate-blue), 0.2);
}
.delete-btn:hover {
  background: hsl(var(--soft-red), 0.5);
}

.update-btn {
  font-weight: 500;
  font-size: 1rem;
  text-transform: uppercase;
  background: hsl(var(--moderate-blue));
  color: hsl(var(--white));
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: transparent;
  transition: var(--transition);
}
.update-btn:hover {
  cursor: pointer;
  background-color: hsl(var(--moderate-blue), 0.5);
}
